/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Whitney, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

img {
    max-width: 100%;
}

/* COMMONS */

/* ROOT */
:root {
    --bg-header: #255EE9;
    --bg-hero-box: #00008B;
    --bg-hero: #EE82EE;
    --bg-article: #1E90FF;
    --bg-aside: #FFC0CB;
    --bg-gray: #D3D3D3;
    --bg-green-rect: #228B22;
    --bg-col-container: #23272A;
    --bg-col-pink: #F08080;
    --bg-col: #20B2AA;
    --bg-footer: #23272A;
    --bg-footer-box: #7FFFD4;
    --bg-button: #FFB6C1;
}

/* HEADER */
header {
    background-color: #255EE9;
}

.head-top{
    width: 80%;
    margin: 0 auto;
    max-width: 1100px;
    align-items: center;
    padding: 1rem 0;
    font-size: 0.8rem;
}

.flex-container {
    display: flex;
}

nav {
    flex-grow: 1;
}

.login {
    text-align: right;
    background-color: white;
    border: 7px solid white;
    border-radius: 25px;
    color: black;
    text-decoration: none;    
}

ul {
    display: flex;
    list-style-type: none;
    justify-content: center;
}

li {
    margin: 0 1rem;
}

li a {
    color: white;
    text-decoration: none;
}

/* Hero */
.hero-box {
    background-image: url(../img/jumbo.png);
    background-size: cover;
    padding: 8.5rem 20%;

}

.hero{
    margin: 0 auto;
    text-align: center;
    color: white;
}

.hero-title {
    font-size: 3rem;
    margin-bottom: 1rem;
    font-weight: bold;
}

.hero-description {
    line-height: 2rem;
    font-weight: bold;
}

.button-hero {
    border:  1px solid;
    padding: 0.7rem;
    font-size: 1rem;
    border-radius: 1.5rem;
    margin: 1rem;
}

.download {
    border-color: white;
    background-color: white;
}

.browser {
    border-color:black;
    background-color: black;
    color: white;
}

/* MAIN */

/* Articles */
.article-box {
    display: flex;
    padding: 30px 10%;
}

.article-text {
    width: 40%;
}

.article-title{
    font-size: 2.5rem;
    margin-bottom: 1rem;
    font-weight: bold;
}

.article-description {
    line-height: 1.5rem;
}

.bg-gray {
    background-color: var(--bg-gray);
}

/* Green rectangle */
.green-rect {
    height: 600px;
    width: 800px;
    background-color: var(--bg-green-rect);
}

/* Five columns */
.col-container {
    background-color: var(--bg-col-container);
    display: flex;
    justify-content: center;
}

.col-pink {
    background-color: var(--bg-col-pink);
    width: 200px;
    height: 600px;
}

.col {
    background-color: var(--bg-col);
    width: 150px;
    height: 600px;
}

/* FOOTER */
footer {
    margin: 1px 0;
    height: 70px;
    background-color: var(--bg-footer);
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.footer-box {
    height: 70%;
	width: 80%;
    background-color: var(--bg-footer-box);
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.button {
    background-color: var(--bg-button);
}